<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ProcessView" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="1.0.0.0" />
        <codeBase version="1.0.0.0" href="ProcessView.dll" />
      </dependentAssembly>
    </assemblyBinding>
    <shadowCopy enabled="true"/>
  </runtime>
</configuration>